h3.bold {
  font-weight: bold;
}

h4.card-title {
  font-weight: bold;
}

h5.bold {
  font-weight: bold;
}

h6.light {
  color: dimgrey;
}

h7.card-subtitle {
  color: dimgrey;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.card-title-alt {
  color: cadetblue;
}

.jumbotron {
  background-image: url("../img/LeslieArt.jpg");
  height: 500px;
  background-size: cover;
  color: white;
}

.jumbotron-partners {
  background-image: url("../img/Partners.png");
  height: 350px;
  background-size: cover;
  color: white;
}

.jumbotron-special {
  background-image: none;
  background-color: gray;
  height: 150px;
  background-size: cover;
  color: white;
  text-align: center;
}

.jumbotron-special2 {
  background-image: none;
  background-color: gray;
  height: auto;
  background-size: cover;
  color: white;
  text-align: center;
}

/* style for about page background image */
.jumbotron-special3 {
  background-image: url("../img/aboutpage-logo.png");
  height: 500px;
  background-size: cover;
  color: white;
}

/* Contct us page image */
.jumbotron-special4 {
  background-image: url("../img/contact.jpg");
  height: 400px;
  background-size: cover;
  color: white;
}

/* Requests page */
.jumbotron-special5 {
  background-image: none;
  height: 100%;
  background-size: cover;
  color: white;
  text-align: center;
  color: black;
}
.jumbotron-special6 {
  background-image: none;
  background-color: dimgrey;
  height: fit-content;
  color: white;
  text-align: center;
}

.link{
  color: white;
}


/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(215, 255, 225, 0.596);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li a{
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoInstagram:hover {
	background-color:#007bb7;
}
.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
a.icoInstagram:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* image side by side about us page */
.imgContainer{
  float:left;
}

/* contact us page */
.text { padding-left: 70px; }

/* about us page */
.text2 { padding-left: 40px; }

.text2 { padding-left: 40px;
  padding-right: 40px;
}


/*sidebar for admin page */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 95px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.newsletter {
  position: relative;
  padding-top: 30px;
  padding-left: 220px;
  flex-grow: 1;
}

.newsletter svg {
  position: absolute;
  z-index: 0;
  top: -90px;
  left: 100px;
  fill:turquoise;
  opacity: 30%;
}

.newsletter .newsletter-title {
  margin-bottom: 40px;
  font-family: IMFell DW,Times,Georgia,serif;
  font-weight: 400;
  font-style: italic;
  color: black;
  font-size: 4.0625rem;
  letter-spacing: -.02em;
  line-height: .9230769231;
  position: relative;
  z-index: 999;
}

.newsletter .newsletter-text {
  color: black;
  padding-right: 140px;
  position: relative;
  z-index: 999;
  max-width: 450px;
}

.newsletter .newsletter-form {
  position: relative;
  max-width: 355px;
  margin-top: 23px;
  z-index: 999;
}

.newsletter .newsletter-form input {
  height: 55px;
  width: 100%;
  padding: 18px 135px 17px 30px;
  font-family: IM Fell English,Times,Georgia,serif;
  font-weight: 400;
  font-style: italic;
  border: 0 none;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  color: #1107ff;
  font-size: 1.125rem;
  line-height: 1;
}

.newsletter .newsletter-form button {
  font-family: Sofia Pro,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 116px;
  height: 36px;
  transition: background-color .3s cubic-bezier(.165,.84,.44,1);
  border-radius: 15px;
  background-color: rgb(3, 53, 53);
  color: #fff;
  font-size: .875rem;
  line-height: 1;
  position: absolute;
  right: 9px;
  bottom: 9px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.newsletter .newsletter-form button-special {
  font-family: Sofia Pro,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 116px;
  height: 36px;
  transition: background-color .3s cubic-bezier(.165,.84,.44,1);
  border-radius: 15px;
  background-color: #ff66a0;
  color: #fff;
  font-size: .875rem;
  line-height: 1;
  position: absolute;
  right: 9px;
  bottom: 9px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.required
{
    color: red;
}

/*arts call */
